USE [master]
GO
/****** Object:  Database [RecruitmentSystem]    Script Date: 2023/5/7 20:24:51 ******/
CREATE DATABASE [RecruitmentSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecruitmentSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RecruitmentSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecruitmentSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RecruitmentSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecruitmentSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecruitmentSystem]
GO
/****** Object:  Table [dbo].[company]    Script Date: 2023/5/7 20:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](30) NOT NULL,
	[kind] [nvarchar](10) NOT NULL,
	[introduction] [nvarchar](500) NULL,
	[icon] [nvarchar](50) NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job]    Script Date: 2023/5/7 20:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[job_name] [nchar](20) NOT NULL,
	[pay] [nchar](20) NOT NULL,
	[company_id] [int] NOT NULL,
	[introduction] [nvarchar](500) NULL,
 CONSTRAINT [PK_job] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personnels]    Script Date: 2023/5/7 20:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personnels](
	[personnel_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[company_name] [nvarchar](30) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[telephone] [nchar](11) NULL,
	[email] [nchar](30) NULL,
	[sex] [nchar](1) NULL,
 CONSTRAINT [PK_personnels] PRIMARY KEY CLUSTERED 
(
	[personnel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2023/5/7 20:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](20) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[sex] [nchar](1) NULL,
	[email] [nchar](30) NULL,
	[telephone] [nchar](11) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([company_id], [company_name], [kind], [introduction], [icon]) VALUES (1, N'七星娱乐', N'娱乐经纪', N'七星娱乐成立于2005年，是一家集明星代言、演出活动、央视广告、影视制作、品牌策划为一体的大型综合性传媒机构。旗下拥有两家实力传媒公司北京七星娱乐广告有限公司，北京七星影视文化传播有限公司。公司自成立至今，在全国的合作客户达到千例以上，是中央电视台金牌代理公司，是明星代言行业的领跑者！我们拥有强大的明星资源、资深的央视广告发布经验、专业的制作团队，七星娱乐已成为国内传媒行业最具竞争力的传媒品牌。诚信、高效的服务理念，使公司的合作客户一直保持高速增长，更使客户达到了百分百的高满意度。', NULL)
INSERT [dbo].[company] ([company_id], [company_name], [kind], [introduction], [icon]) VALUES (2, N'米哈游', N'互联网/游戏', N'米哈游成立于2011年，致力于为用户提供美好的、超出预期的产品与内容。米哈游陆续推出了多款高品质人气产品，包括《崩坏学园2》、《崩坏3》、《未定事件簿》、《原神》、《崩坏：星穹铁道》，动态桌面软件《人工桌面》以及社区产品《米游社》，并围绕原创IP打造了动画、音乐及周边等多元产品。即将上线的《绝区零》等同样受到全球玩家广泛关注。', NULL)
INSERT [dbo].[company] ([company_id], [company_name], [kind], [introduction], [icon]) VALUES (3, N'华为', N'互联网', N'华为创立于1987年，是全球领先的ICT（信息与通信）基础设施和智能终端提供商。我们的20.7万员工遍及170多个国家和地区，为全球30多亿人口提供服务。我们致力于把数字世界带入每个人、每个家庭、每个组织，构建万物互联的智能世界。', NULL)
SET IDENTITY_INSERT [dbo].[company] OFF
GO
SET IDENTITY_INSERT [dbo].[job] ON 

INSERT [dbo].[job] ([job_id], [job_name], [pay], [company_id], [introduction]) VALUES (1, N'抖音直播场控              ', N'4K-8K               ', 1, N'工作内容：
1.开播前设备检查；
2.直播期间后台的操作，搭配主播话术口播；
3.关注品牌群内运营和投手的信息，并及时把信息传达给主播；
4.主播直播期间如临时离开需要短时间上镜替播（5分钟内）；
5、主要直播间以大牌美妆为主，对美妆感兴趣的优先；
要求：
男生/女生均可，年龄不超过30岁,妆容整洁，声音洪亮，性格外向不腼腆，学习能力及适应能力强，住浦东或者地铁沿线，路程一小时之内（欢迎应届毕业生前来挑战），喜欢平凡跳槽体验生活的宝宝勿扰！
薪资待遇：
1、新人带薪15天培训期
2、6个月试用期(表现优异可提前转正）交五险一金
3、一年多次福利')
INSERT [dbo].[job] ([job_id], [job_name], [pay], [company_id], [introduction]) VALUES (2, N'抖音摄影/摄像师            ', N'6K-10K              ', 1, N'抖音摄影/摄像师
岗位职责：
1.熟练掌握索尼、佳能数码单反相机及爱图仕、南光系列灯光；（不接受小白）
2.根据客户需求挑选合适的摄影设备；
3.能熟练安装、搭建、布局摄影设备；
4.根据客户要求熟练调整相应设备；
5.负责直播间的技术支持，对直播环境、灯光、网络质量等进行调试，指定并优化直播间相关技术流程规范；
岗位要求
1.具有娴熟的摄影技巧；
2.掌握影像和构图知识；
3.掌握一定的美学知识，具有一定的艺术修养；
4.了解抖音直播生态及直播画面（美妆护肤）；
5.认真负责，肯吃苦，能在公司长期发展的优先； 排班制（做六休一）
6.沟通能力和执行能力较强，能承受一定的工作压力')
INSERT [dbo].[job] ([job_id], [job_name], [pay], [company_id], [introduction]) VALUES (3, N'设备/抖音直播间灯光师         ', N'6K-10K              ', 1, N'设备/抖音直播间灯光师
岗位职责
 1、负责直播间软硬件平台搭建、优化及运维； 
2、负责直播间的技术支持，对直播环境、灯光、网络质量等进行调试，指定并优化直播间相关技术流程规范； 
3、熟练掌握直播间基本操作流程，完成开播、试音、灯光调试等直播间等基本操作； 
4、判断和解决直播现场的硬件、网络、推流等技术问题、处理直播突发故障，保障直播的顺利进行； 
5、整理总结直播问题，参与优化完善直播保障流程； 任职资格 
1、对直播行业有一定的了解和兴趣； 
2、大专以上学历，电子商务、及计算机等相关专业优先； 
3、熟练掌握sony/canon设备 
4、沟通能力和执行能力较强，能承受一定的工作压力； 
5、有良好的职业道德和素养，诚实、忠诚、尽责、勤奋、认真细心，学习能力强，具有较强的团队合作精神； 
6、稳定，能在公司长期发展的优先； 
排班制（做六休一）')
SET IDENTITY_INSERT [dbo].[job] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password], [sex], [email], [telephone]) VALUES (1, N'zly                 ', N'123456              ', N'男', N'1542620762@qq.com             ', N'19117191007')
INSERT [dbo].[users] ([user_id], [username], [password], [sex], [email], [telephone]) VALUES (2, N'wch                 ', N'123456              ', N'男', NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[job]  WITH CHECK ADD  CONSTRAINT [job_company_company_id_fk] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job] CHECK CONSTRAINT [job_company_company_id_fk]
GO
ALTER TABLE [dbo].[personnels]  WITH CHECK ADD  CONSTRAINT [personnels_company_company_id_fk] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[personnels] CHECK CONSTRAINT [personnels_company_company_id_fk]
GO
USE [master]
GO
