#main {
    width: 1200px;
    height: 80%;
    min-height: 650px;
    margin: auto;
}

.login-frame {
    width: 450px;
    height: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    width: 400px;
    height: 110px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.login-frame form {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.login-input {
    width: 332px;
    height: 50px;
    margin: 0 auto 40px auto;
    padding-left: 8px;
    font-size: medium;
    border-radius: 5px;
}

.button-frame {
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.login-button {
    width: 150px;
    height: 50px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}