body {
    min-height: 1600px;
}

#main {
    width: 1200px;
    height: 100%;
    margin: auto;
}

#main-page {
    width: 100%;
    height: auto;
    text-align: center;
}

#search-box {
    width: 900px;
    height: 150px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}

#job-search-from {
    width: 900px;
    height: 54px;
    position: absolute;
    margin-top: 40px;
    background-color: white;
    border: #1956b4 2px solid;
    border-radius: 7px;
    font-size: 0;
}

#job-search-input {
    width: 790px;
    height: 50px;
    margin: 1px 10px;
    border: 0;
    background-color: transparent;
    font-size: large;
}

#job-search-input:focus {
    outline: none;
}

#job-search-submit {
    width: 90px;
    height: 54px;
    border: 0;
    background-color: #1956b4;
    color: white;
    font-size: medium;
    font-weight: bolder;
}

#hot-job {
    width: 1200px;
    height: 500px;
    background-color: transparent;
    text-align: center;
}

.cur1 {
    width: 1200px;
    height: 400px;
    margin-top: 10px;
}

#hot-job ul li {
    width: 370px;
    height: 160px;
    display: inline-block;
    margin: 5px 5px 20px 5px;
    border-radius: 13px;
    background-color: white;
}

.hot-job-top {
    width: 320px;
    height: 70px;
    display: block;
    padding: 15px 25px 15px 25px;
    font-size: 0;
    outline: none;
    text-decoration: none;
}

.h-job-name {
    width: 220px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: large;
    font-weight: bolder;
    color: black;
    text-align: left;
}

.h-job-pay {
    width: 100px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: large;
    font-weight: bolder;
    color: red;
    text-align: right;
}

.hot-job-bottom {
    width: 320px;
    height: 40px;
    display: block;
    padding: 10px 25px 10px 25px;
    outline: none;
    text-decoration: none;
    font-size: 0;
}

.h-j-company-name {
    width: 200px;
    height: 40px;
    display: inline-block;
    font-size: medium;
    text-align: left;
    color: black;
}

.h-j-company-kind {
    width: 120px;
    height: 40px;
    display: inline-block;
    font-size: medium;
    text-align: right;
    color: black;
}

.more-info {
    width: 180px;
    height: 40px;
    font-size: large;
    color: #1956b4;
    border: #1956b4 2px solid;
    background-color: white;
    display: inline-block;
    outline: none;
    text-decoration: none;
    line-height: 40px;

}

#hot-company {
    width: 1200px;
    height: 800px;
    margin-top: 80px;
    background-color: chocolate;
    border-radius: 17px;
}