* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddddd;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    min-height: 900px;
}

#header-frame {
    width: 100%;
    min-width: 1200px;
    height: 60px;
    text-align: center;
    background-color: #1956b4;
}

#header-nav {
    width: 1200px;
    height: 60px;
    display: inline-block;
    font-size: 0;
}

#logo {
    width: 190px;
    display: inline-block;
    font-size: medium;
}

#logoIMG {
    width: 185px;
    height: 60px;
}

#header-ul1 {
    width: 810px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#header-ul1 li {
    width: 60px;
    height: 60px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}

.header-option {
    height: 60px;
    line-height: 50px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: white;
}

.header-option:hover {
    color: chocolate;
}

#header-ul2 {
    width: 200px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

#header-ul2 li {
    width: 60px;
    height: 60px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}

#footer {
    width: 100%;
    min-width: 1200px;
    height: 45px;
    margin-top: 5px;
    background-color: black;
    text-align: center;
    color: white;
}