body {
    min-height: 1000px;
    margin: 0 !important;
}

#main {
    width: 1200px;
    height: 100%;
    min-height: 700px;
    margin: auto;
}

.register-frame {
    width: 580px;
    height: 915px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register-header {
    width: 400px;
    height: 75px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.choose-frame {
    width: 580px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose {
    width: 200px;
    height: 100px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    font-weight: bolder;
    border: #1956b4 2px solid;
    border-radius: 5px;
    background-color: #726868;
    color: #1956b4;
    outline: none;
    text-decoration: none;
}

.choose:hover {
    background-color: #1956b4;
}

.register-form {
    display: flex;
    flex-direction: column;
    color: #1956b4;
    font-size: 15px;
}

.register-input {
    width: 300px;
    height: 40px;
    border: 2px solid #131517;
    margin: 0 auto 40px auto;
    border-radius: 5px;
    font-size: medium;
}
.register-form small {

    visibility: hidden;
    font-weight: 600;
    bottom: 0;
    left: 0;
}
.register-form.error small {
    visibility: visible;
    color: #e74c3c;
}
.companyIDselect {
    width: 60%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #cccaca;
    margin: 0 auto 40px auto;
}
.register-button {
    background-color: rgba(18, 89, 231, 0.56);
    color: rgb(255, 255, 255);
    width: 400px;
    height: 45px;
    border:0;
    font-size: 16px;
    box-sizing: content-box;
    border-radius: 5px;
    align-items: flex-start;
    display: inline-block;
}
.register-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(18, 89, 231, 0.56);
    border: 2px solid rgba(18, 89, 231, 0.56);
}